In [1]:
#una tupla es parecido a la lista pero entre parentesis en vez de corchetes

In [5]:
tupla1=("luis",45,"rocio",68)
print(tupla1)
print(tupla1[2])
print(tupla1[1:3])

('luis', 45, 'rocio', 68)
rocio
(45, 'rocio')

In [7]:
#las tuplas no permiten la funcion append, para a√±adir valores se puede hacer pasando a lista

In [9]:
tupla1=("luis",45,"rocio",68)
lista1=list(tupla1)
print(lista1)

['luis', 45, 'rocio', 68]

In [12]:
#tambien se puede pasar de lista a tupla

In [2]:
lista1=["luis",45,"rocio",68]
tupla1=tuple (lista1)
print(tupla1)

('luis', 45, 'rocio', 68)

In [3]:
#para ver si un valor esta contenido en la tupla

In [7]:
tupla2=("javi",45,"ana",68)
print(45 in tupla2)

True

In [8]:
#para saber las veces que estA INCLUIDO un valor

In [13]:
tupla2=("javi",45,"ana",68,68)
print(tupla2.count(68))

2

In [14]:
#para saber la longitud de una tupla

In [19]:
tupla3=("javi",45,"ana",68,68,"carlos")
print(len (tupla3))

6